.headingWrapper {
  border-radius: 5px;
  padding: 30px 40px 20px;
  background-color: #ffad01;
  color: #fff;
}

.header {
  position: relative;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 5;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: 900;
}

.info {
  margin-bottom: 30px;
  position: relative;
  display: flex;
}

.icon {
  float: left;
}

.name {
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: 900;
}